certifi==2025.7.14
charset-normalizer==3.4.2
contourpy==1.3.2
cycler==0.12.1
fonttools==4.59.0
idna==3.10
kiwisolver==1.4.8
lxml==6.0.0
matplotlib==3.10.3
numpy==2.3.1
packaging==25.0
pillow==11.3.0
pycatima==1.98
pyparsing==3.2.3
PySide6==6.9.1
PySide6_Addons==6.9.1
PySide6_Essentials==6.9.1
python-dateutil==2.9.0.post0
requests==2.32.4
scipy==1.16.0
setuptools==80.9.0
shiboken6==6.9.1
six==1.17.0
urllib3==2.5.0
wheel==0.45.1
